html,
body {
  margin: 0;
}

.leaflet-container {
  flex-grow: 1 !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
}

.leaflet-popup-tip-container {
  visibility: hidden;
}

.leaflet-popup-content {
  overflow-y: auto;
  width: calc(100vw - 50px) !important;
  max-width: 360px;
  overflow-x: hidden;
  max-height: calc(100vh - 75.14px - 10px);
  margin: 0 !important;
  padding: 0 19px !important;
}

@media (min-width: 600px) {
  .leaflet-popup-content {
    max-height: calc(100vh - 125px - 10px - 80px);
  }
}

.leaflet-popup-content p {
  font-size: 14px;
}

.leaflet-popup-content h3 {
  font-size: 16px;
}

.leaflet-popup-close-button {
  margin: 15px 10px !important;
  font-size: 30px !important;
  color: #fff !important;
  background: transparent !important;
  padding: 6px 1px !important;
  width: 30px !important;
  height: 30px !important;
  z-index: 20;
  position: sticky;
  top: -15px;
}

@media (min-width: 600px) {
  .leaflet-popup-close-button {
    right: 15px !important;
  }
}

.leaflet-popup-content-wrapper {
  padding: 0 !important;
}
